<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
<servlet>
  <servlet-name>pdfServlet</servlet-name>
  <servlet-class>com.version80.gwt.pdfViewer.server.servlet.PdfServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>pdfServlet</servlet-name>
  <url-pattern>/pdfViewer/PdfService</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>pdfServlet</servlet-name>
  <url-pattern>/pdfViewerDemo/PdfService</url-pattern>
</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>PdfViewer.html</welcome-file>
  </welcome-file-list>

</web-app>
